.animalTemplate{
    width: 100%;
    display: flex;
    flex-direction: column;
    .header{
        width: 100%;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .information{
        width: 100%;
        display: flex;
        flex-direction: column;
        
        box-sizing: border-box;
        position: relative;
        img{
            width: 100%;
            height: auto;
        }
        .text{
            position: absolute;
            padding-left: 20px;
            padding-right: 60px;
            display: flex;
            flex-direction: column;
            .line{
                height: 5px;
                width: 60px;
                background-color: red;
                margin-top: 30px;
            }
            .name{
                font-size: 26px;
                font-weight: bold;
                color: #37393e;
                margin-top: 20px;
            }
            .time{
                font-size: 20px;
                color: #37393e;
                margin-top: 15px;
            }
            .introduction{
                font-size: 20px;
                color: #37393e;
                margin-top: 15px;
                margin-bottom: 20px;
            }

        }
        
    }
    .imgShow{
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
            height: auto;
            margin-top: 5px;
        }
    }
}